<!-- templates/main/ad_update.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% block title %}Объявление - редактирование{% endblock title %}
{% block content %}
<form method="post" class="w-50" enctype="multipart/form-data">{% csrf_token %}
    {{ picture_forms.management_form }}
    {{ form|crispy }}
    {% thumbnail picture "300x300" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-thumbnail mr-3">
    {% endthumbnail %}
    {% for form in picture_forms %}
                {{ form|crispy }}
    {% endfor %}
    <div class="text-center" style="margin-bottom:60px"><input type="submit" class="btn btn-success mt-3" value="Сохранить"></div>
</form>
{% include 'footer.html' %}
{% endblock content %}