<!-- templates/main/services.html -->
{% extends 'main/ad_list_view.html' %}
{% block title %}Услуги{% endblock title %}
{% block seo_description %}
об услугах в городах России. На Доске объявлений вы можете заказать услуги мастеров по ремонту, репетиторов, парикмахеров, спортивных тренеров, курьеров и других специалистов услуг, а также посмотреть отзывы и фотографии с примерами работ, договориться о стоимости и вызвать на дом нужных специалистов. Выбирайте среди предложений компаний и частных объявлений об услугах на Доске объявлений.
{% endblock seo_description %}
{% block ad_name %}Услуги{% endblock ad_name %}
{% block ad_specific %}
    <li>Цена: {{ service_ad.price }}</li>
{% endblock ad_specific %}

