<!-- templates/main/things.html -->
{% extends 'main/ad_list_view.html' %}
{% block title %}Вещи{% endblock title %}
{% block seo_description %}
объявления о продаже одежды и обуви для детей и взрослых по доступным ценам. На Доске объявлений вы можете купить мужскую, женскую и детскую одежду и обувь, часы и украшения, товары для детей, игрушки и многое другое. Частные объявления и предложения магазинов о продаже недорогих новых и б/у вещей.
{% endblock seo_description %}
{% block ad_name %}Вещи{% endblock ad_name %}
{% block ad_specific %}
{% endblock ad_specific %}